.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 5%;
    text-align: center;
}
.header-content {
    position: relative;
}

.header-content h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:70px; 
    text-align: center;
}

.header-content img {
    max-width: 100%;
    height: 500px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
}
.recipeone{

    margin-right: 20px;
}
.recipetwo{
    margin-right: 20px;
}
.recipethree{
    margin-right: 20px;
}

.recipe-info {
    text-align: center;
}

.card {
    width: 300px; /* Set the width of the card */
    height: 200px; /* Set the height of the card */
    padding: 20px;
    
}
.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
 
    line-height: 1.5;
    font-size: 10px;
}